:root {
  //fonts
  --fs-extra-small: 16px;
  --fs-small: 18px;
  --fs-medium: 20px;
  --fs-extra-medium: 24px;

  //colors
  --main-neutral-1000: #fff;
  --main-neutral-900: #eee;
  --main-neutral-400: #2F4F4F;
  --main-accent-red-400: #8B0000;
}